Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Map_testing.umap
Content/Test_Outline.uasset
Content/Test_Outline.uasset
